@model FileTracking.ViewModels.VolumesViewModel
@{
    ViewBag.Title = "FileVolume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2>File Volume</h2>
        <p>Please select a volume for file @Model.File.FileNumber which belongs to @Model.File.FirstName @Model.File.MiddleName @Model.File.LastName</p>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
        <table id="volumeTable" class="table  table-bordered table-hover">
            <thead>
                <tr class="row100 head">
                    <th>File Number</th>
                    <th>Volume</th>
                    <th>Comment</th>
                    <th>State</th>
                    <th>Location Origin</th>
                    <th>Current location</th>
                    <th>Holding user</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fileVol in Model.FileVolumes)
                {
                    <tr>
                        <td>@Model.File.FileNumber</td>
                        <td>@fileVol.Volume</td>
                        @if (fileVol.Comment == null)
                        {
                            <td>Empty</td>
                        }
                        else
                        {
                            <td>@fileVol.Comment</td>
                        }
                        <td class="tdState">@fileVol.States.State</td>
                        <td>@fileVol.Branches.Branch</td>
                        <td class="currentLoc" currLoc-data="@fileVol.CurrentLocation"></td>
                        @if (@fileVol.AdUserId == null)
                        {
                            <td>At registry</td>
                        }
                        else
                        {
                            <td>@fileVol.AdUser.Username</td>
                        }
                      
                        <td class="tdBtn">
                            <button type="button" vol-state="@fileVol.States.State" user-loc="@Model.AdUser.BranchesId" originLoc="@fileVol.BranchesId" currLoc-attr="@fileVol.CurrentLocation" 
                                    vol-data-id="@fileVol.Id" file-name="@Model.File.FirstName" class="btn btn-yahoo btn-sm js-req-vol">Request</button>

                        </td>

                    </tr>
                }
            </tbody>
        </table> 
    <div class="modal fade" id="volumeModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content" id="modelContent">
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#volumeTable").on("click",
                ".js-req-vol",
                function () {      
                    var button = $(this);
                    var state = button.attr("vol-state");
                    var originalLoc = button.attr("originLoc");
                    var currentLoc = button.attr("currLoc-attr");
                    var userLoc = button.attr("user-loc");
                    console.log(" whom is currently requesting is from " + userLoc);

                    if (originalLoc == currentLoc)
                        if (state === "Stored" || state === "Requested") {
                            bootbox.confirm({
                                message: "Volume with the vicinity thus if you proceed your request will be sent to registry and you must await approval",
                                buttons: {
                                    confirm: {
                                        label: 'Proceed',
                                        className: 'btn-success'
                                    },
                                    cancel: {
                                        label: 'Never mind',
                                        className: 'btn-danger'
                                    }
                                },
                                callback: function(result) {
                                    if (result) {
                                        //write code tht routes volumes id to an action result in volumes controller
                                        // window.location.href = "/FileVolumes/RequestFile/" + button.attr("data-request-file-id");
                                        window.location.href =
                                            "/Requests/Index/" + button.attr("vol-data-id");
                                    }
                                }
                            });
                        } else {
                            toastr.error("Volume CANNOT be requested. Currently being tranferred or has already been checked-out", "Volume Request", { positionClass: "toast-bottom-right" });
                            $(this).prop("disabled", true)
                        }
                    if (!(userLoc == currentLoc))
                        toastr.error("File volume is not within your respective branch. Cannot request at this time.", "Volume Request", { positionClass: "toast-bottom-right" });
                });
            //inserting a string value for current location
            $(".currentLoc").each(function() {
                var locNum = $(this).attr("currLoc-data");
                var num = parseInt(locNum);         
                switch(num) {
                case 1:
                    $(this).text("Corozal");
                    break;
                case 2:
                    $(this).text("Orange Walk");
                    break;
                case 3:
                    $(this).text("Belize City");
                    break;
                case 4:
                    $(this).text("San Pedro");
                    break;
                case 5:
                    $(this).text("Belmopan");
                    break;
                case 6:
                    $(this).text("Dangriga");
                    break;  
                }
            });

        });
      
    </script>
}
