<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
  

</head>
<body>
    <div id="wrapper">
        <!--The line below can be accept a model as a second argument, although not necessary on this case-->
        @Html.Partial("_NavBar")
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()

                <div class="row">
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                    </footer>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>

    </div>

    @Scripts.Render("~/bundles/lib")

    <!--I've merged both bundles into the bundles/lib path, so the following commented out code is not required-->
    @{
        /*Scripts.Render("~/bundles/jquery")*/
    }
    @{/*Scripts.Render("~/bundles/bootstrap")*/}

    @RenderSection("scripts", required: false)


</body>

</html>
