@using FileTracking.Models
<nav id="dfcNav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" rel="home" href="@Url.Action("Index","Home")" title="File Track">
            <img style="max-width:82px; margin-top: -15px;"
                 src="~/WelcomePage/img/ftp.png">
        </a>

    </div>

    <ul class="nav navbar-nav navbar-left navbar-top-links">
        <li><a href="https://www.dfcbelize.org/"><img src="~/WelcomePage/img/DFClogoFooter.png" width="150" height="30" /></a></li>
    </ul>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <ul class="nav navbar-nav navbar-top-links">
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>
            <a href="@Url.Action("BranchRequestActivity", "Requests")"> <i class="fa fa-retweet"></i> Ongoing Activities</a>
        </li>
        
    </ul>

    @Html.Partial("_LoginPartial")

    <div id="sideNav" class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="dfcSideNav">
                <li>
                    @Html.Action("BranchNavigationBar", "Home")
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="@Url.Action("New", "Files")" id="createFile"><i class="fa fa-edit fa-fw"></i>Create File</a>
                </li>
                <li>
                    <a href="@Url.Action("SearchFiles", "Files")" id="indexFile"><i class="fa fa-search fa-fw"></i>Search</a>

                </li>
                <li>
                    <a href="@Url.Action("PendingFiles","Requests")" id="pendingFiles"><i class="fa fa-hourglass-2 fa-fw"></i>Pending Files</a>
                </li>
                <li>
                    <a href="@Url.Action("ReturnApproval", "FileVolumes")"><i class="fa fa-reply fa-fw"></i> Accept Returns</a>
                </li>
               
                <li class="sidebar-search">

                    <!-- /input-group -->
                </li>
                <li>
                    <a href="#" id="extTransferNav"><strong><i class="fa fa-external-link fa-fw"></i> </strong>External Transfers<span class="fa arrow"></span></a>
                    <ul id="extTransferUl" class="nav nav-second-level collapse">
                        <li>
                            <a href="@Url.Action("ExternalBranchRequest","Requests")"><i class="fa fa-external-link-square fa-fw"></i>Pending</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ExternalTransferApproval", "Requests")"><i class="fa fa-sign-in fa-fw"></i>Accept External Transfer</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ReturnToBranch", "FileVolumes")"><i class="fa  fa-truck fa-fw"></i>Return to Branch</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ApproveExternalReturns", "FileVolumes")"><i class="fa fa-chevron-circle-left fa-fw"></i> Accept External Return</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                             
                <li class="sidebar-search">

                    <!-- /input-group target="_blank"-->
                </li>
                <li>
                    <a href="@Url.Action("SignInPrompt", "AdUsers")" ><i class="fa fa-users fa-fw"></i>Sign in as other user</a>
                </li>
                @if (User.IsInRole(Role.AdminUser))
                {
                    <li>
                        <a href="@Url.Action("AdminManagement","AdUsers")"><i class="fa fa-user-plus"></i>User Management</a>
                    </li>
                }
</ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->

    </nav>
