@model FileTracking.ViewModels.VolumesViewModel
@{
    ViewBag.Title = "FileVolume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><strong>File Volume</strong></h2>
       
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <p style="color: chocolate"><i>Volumes listed here are for the file record below:</i></p>
    <div class="col-lg-4">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge"><i class="fa fa-list-alt"></i></span>
                <strong>File Number:</strong> @Model.File.FileNumber
            </li>
            <li class="list-group-item">
                <span class="badge"><i class="fa fa-user"></i></span>
                <strong> Client:</strong> @Model.File.FirstName @Model.File.MiddleName @Model.File.LastName
            </li>
            <li class="list-group-item">
                <span class="badge"><i class="fa fa-volume-up"></i></span>
                <strong> Volume's Total: </strong>@Model.File.Volume
            </li>
        </ul>
    </div>

    <table id="registryVolumeTable" user-loc="@Model.AdUser.BranchesId" class="table  table-bordered table-hover">
        <thead>
            <tr class="row100 head">
                <th>Volume</th>
                <th width="150">Comment</th>
                <th>State</th>
                <th><i class="glyphicon glyphicon-home"></i> Location Origin</th>
                <th><i class="glyphicon glyphicon-map-marker"></i> Current location</th>
                <th><i class="glyphicon glyphicon-user"></i> Holder</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fileVol in Model.FileVolumes)
            {
                <tr>
                    <td>@fileVol.Volume</td>
                    @if (fileVol.Comment == null)
                    {
                        <td>Comment not provided</td>
                    }
                    else
                    {
                        <td>@fileVol.Comment</td>
                    }
                    <td class="tdState">@fileVol.States.State</td>
                    <td>@fileVol.Branches.Branch</td>
                    <td>@fileVol.CurrentLocation.Branch</td>
                    @if (@fileVol.AdUserId == null)
                    {
                        <td>At registry</td>
                    }
                    else
                    {
                        <td>@fileVol.AdUser.Username</td>
                    }
                    <td class="tdBtn">
                        <button vol-data-id="@fileVol.Id" file-name="@Model.File.FirstName" vol-num-attr="@fileVol.Volume" class="btn btn-circle js-edit-vol">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button> |
                        <button class="btn btn-circle history-js" vol-id-attr="@fileVol.Id"><i class="fa fa-history"></i></button> |
                        <button class="btn btn-circle changeBranch-js" vol-changeBranchId="@fileVol.Id" vol-num-editBranch="@fileVol.Volume"><i class="fa fa-location-arrow"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="modal fade" id="volumeEditModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content" id="volEditModelContent">
            </div>
        </div>
    </div>
    <!--Change file volume modal trigger-->
    <div class="modal fade" id="changeBranchModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content" id="changeBranchModelContent">
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            // var userLocId = $("#registryVolumeTable").attr("user-loc");
            // alert(userLocation);
            $("#registryVolumeTable").on("click",
                ".js-edit-vol",
                function() {
                    var volNum = $(this).attr("vol-num-attr");
                    var volId = $(this).attr("vol-data-id");
                    bootbox.confirm("Are you sure you want to edit this volume's <strong>" + volNum + "</strong> ?",
                        function(result) {
                            if (result) {
                                var url = siteURL + "/FileVolumes/UpdateVolumeDescription/" + volId;
                                // alert(url);
                                $('#volEditModelContent').load(url);
                                $('#volumeEditModal').modal('show');
                            }
                        });

                });
            //button that will display recent activities for volume
            $("#registryVolumeTable").on("click",
                ".history-js",
                function() {
                    var volId = $(this).attr("vol-id-attr");
                    bootbox.confirm("View recent activity for volume?",
                        function(result) {
                            if (result) {
                                /* var url = siteURL + "/FileVolumes/VolumeHistory/" + volId + "/" + 1 + "/" + 5;
                                 window.location.href = url;*/

                            }
                            alert("Currently remodeling. check back later");
                        });

                });
            //change branch clicked
            $("#registryVolumeTable").on("click",
                ".changeBranch-js",
                function() {
                    var btn = $(this);
                    var volId = btn.attr("vol-changeBranchId");
                    var volNum = btn.attr("vol-num-editBranch");

                    bootbox.confirm({
                        title: `<strong>CHANGE BRANCH</strong>`,
                        message:`You are about change the branch origins for <strong>volume ${volNum}</strong> of this file. Continue?`,
                        callback: function(result) {
                            if (result) {
                                $.ajax({
                                    url: siteURL + '/Files/CheckForVolumeRequestActivity/' + volId,
                                    success: function(response) {
                                        if (response.success) {
                                            var url = siteURL + "/Files/ChangeVolumeBranch/" + volId;
                                            //alert(url);
                                            $('#changeBranchModelContent').load(url);
                                            $('#changeBranchModal').modal('show');
                                        } else {
                                            toastr.error(response.message,
                                                "Can't proceed",
                                                { positionClass: "toast-bottom-right" });
                                        }

                                    },
                                    statusCode: {
                                        404: function(content) { alert('cannot find resource'); },
                                        500: function(content) { alert('internal server error'); }
                                    }
                                });
                            }
                        }
                    });
                });
        });
    </script>
}
