@model FileTracking.Models.File
<div class="modal-header" style="background-color: #deefcf">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
    </button>
    <h4 class="modal-title" style="color: #358e59"><strong>Details Record for file: @Model.FileNumber</strong></h4>
</div>
<div class="modal-body container-fluid">
    <div class="col-md-6">
        <div class="form-group">
            <label>Full Name:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                <input class="form-control" type="text" value="@Model.FullName" readonly>
            </div>            
        </div>   
        <div class="form-group">
            <label>Street:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-signs"></i></span>
                <input class="form-control" type="text" value="@Model.Street" readonly>
            </div>           
        </div>
        @if (Model.LocationId == null)
        {
            <label>File Address:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                <input class="form-control" type="text" value="N/A" readonly>
            </div>            
        }
        else
        {
            <div class="form-group">
                <label>File Address:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input class="form-control" type="text" value="@Model.Location.Name" readonly>
                </div>                  
            </div>
        }
        @if (Model.DistrictsId == null)
        {
            <label>District</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                <input class="form-control" type="text" value="N/A" readonly>
            </div>
        }
        else
        {
            <div class="form-group">
                <label>District:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                    <input class="form-control" type="text" value="@Model.Districts.District" readonly>
                </div>
            </div>
        }
        <div class="form-group">
            <label>Loan Number/s</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-dedent"></i></span>
                <input class="form-control" type="text" value=" @Model.LoanNumber" readonly>
            </div>
        </div>
        <div class="form-group">
            @if (Model.IdentificationOptionId == null)
            {
                <label>Other ID</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-drivers-license-o"></i></span>
                    <input class="form-control" type="text" value="N/A" readonly>
                </div>
            }
            else
            {
                <label>@Model.IdentificationOption.Identification:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-drivers-license-o"></i></span>
                    <input class="form-control" type="text" value=" @Model.IdentificationNumber" readonly>
                </div>
            }

        </div>

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Comment:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-commenting"></i></span>
                <input class="form-control" type="text" value="@Model.Comments" readonly>
            </div>          
        </div>
        <div class="form-group">
            <label>Date Created:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar-check-o"></i></span>
                <input class="form-control" type="text" value="@Model.DateCreated" readonly>
            </div>
        </div>
        <div class="form-group">
            <label>File type:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-excel-o"></i></span>
                <input class="form-control" type="text" value="@Model.FileType.Type" readonly>
            </div>           
        </div>
        <div class="form-group">
            <label>Number of Volume(s):</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-plus-square"></i></span>
                <input class="form-control" type="text" value="@Model.Volume" readonly>
            </div>
        </div>
        <div class="form-group">
            <label>File Access:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-question-circle-o"></i></span>
                <input class="form-control" type="text" value="@Model.FileAccess" readonly>
            </div>
        </div>
        @if (Model.FileStatusId == 0)
        {

        }
        else
        {
            <div class="form-group">
                <label>File Status:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-bar-chart-o"></i></span>
                    <input class="form-control" type="text" value="@Model.FileStatus.Status" readonly>
                 </div>
            </div>
        }
       

    </div>
   
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-github"
            data-dismiss="modal">
        Close
    </button>
</div>
