@using Microsoft.AspNet.Identity
@model FileTracking.Models.AdUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><strong>Profile</strong></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <!--Content goes here b -->
    
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <img src="https://cdn4.iconfinder.com/data/icons/universal-round-corner-glyph/614/1017_-_User_Management-512.png"  class="img-rounded img-responsive center" />
                            </div>
                            <div class="col-sm-6 col-md-8">
                                <h4>
                                    @Model.Name
                                </h4>
                                <small>
                                    <cite title="Belize">
                                        @Model.Branches.Branch <i class="glyphicon glyphicon-map-marker"> <br>
                                        </i>
                                    </cite>
                                </small>
                                <br>
                                <p>
                                    @{
                                        var email = "";
                                        if (Model.Email == null)
                                        {
                                            email = "Not provided.";
                                        }
                                        else { email = Model.Email; }

                                    }
                                    <i class="glyphicon glyphicon-envelope"></i> @email
                                    <br />
                                    <i class="glyphicon glyphicon-globe"></i> <a href="https://www.dfcbelize.org/">DFC</a>
                                    <br />
                                    <i class="glyphicon glyphicon-user"></i> @Model.Username
                                    <br />
                                    <i class="glyphicon glyphicon-import"></i> @Model.Role
                                    <br />
                                    <i class="glyphicon glyphicon-import"></i> Authentication: @User.Identity.AuthenticationType
                                    <br />
                                    <i class="fa fa-id-badge"></i> Is Admin User: @{
                                                                                                  string response = (User.IsInRole("FMS_Admin")) ? "Yes" : "No";
                                                                                                  
                                                                                              } @response
                                 </>
                                <!-- Split button -->
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
