@model IEnumerable<FileTracking.Models.Request>
@{
    ViewBag.Title = "UserVolumes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 ">
        <h2 class="page-header"><strong>My Files</strong></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">   
    <div>
        <p>
            <i>
                File registered here are, as of this moment, in your possession and must be returned to registry when you're
                finished with it.
            </i>
        </p>
    </div>
    
    <table id="myFiles" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>File Number</th>
                <th>Volume</th>
                <th>Checked Out By</th>
                <th>Checked Out Date</th>
                <th>Branch</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var req in Model)
        {
            <tr>
                <td><span data-return-id="@req.FileVolumes.FileId" class="glyphicon glyphicon-file btn btn-success btn-sm returnModal"> @req.FileVolumes.FileNumber</span></td>
                <td>@req.FileVolumes.Volume</td>
                <td>@req.AcceptedBy</td>
                <td>@req.AcceptedDate</td>
                <td>@req.Branches.Branch</td>
                <td><button class="btn btn-adn js-return" data-return-id="@req.Id">Return</button></td>
            </tr>
        }      
        </tbody>
    </table>
    <div class="modal fade" id="userReturnModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content" id="returnModelContent">
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
     
                $("#myFiles").on('click',
                    '.js-return',
                    function () {
                        var $btn = $(this);
                        var requestId = $btn.attr("data-return-id");
                        bootbox.confirm("You are sending a return request to registry, Do you wish to continue",
                            function(result) {
                                if (result) {
                                    $.ajax({
                                        url: '/FileVolumes/ReturnVolume/' + requestId,
                                        success: function() {
                                            toastr.success("Return Request Sent to registry", "Return", { positionClass: "toast-bottom-right" });

                                            $($btn).closest("tr").remove();
                                        },
                                        statusCode: {
                                            404: function(content) { alert('cannot find resource'); },
                                            500: function(content) { alert('internal server error'); }
                                        }
                                    });
                                }
                            });
                });

                $("#myFiles").on("click", ".returnModal",
                    function() {
                        var id = $(this).attr("data-return-id");
                        var url = "/Files/FileDetailsForConfirm/" + id;
                        // alert(url);

                        $('#returnModelContent').load(url);
                        $('#userReturnModal').modal('show');
                    });
        });
    </script>
}