@model PagedList.IPagedList<FileTracking.Models.CompletedRequest>
@using PagedList.Mvc;
@{
    ViewBag.Title = "VolumeHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"><strong>Volume Activity</strong></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        
        @if (Model.Any())
        {
            <h4></h4>
            <p style="color: orangered"><i>To obtain recent activities for a file, logs are sorted in descending order based on the time a request was accepted by registry.</i></p>
            <div class="links">
                @Html.PagedListPager(Model, page => Url.Action("VolHistory", "FileVolumes",
                    new {page, pageSize = Model.PageSize}))
                <p><strong> Showing @Model.FirstItemOnPage - @Model.LastItemOnPage of @Model.TotalItemCount </strong></p>
            </div>
            <table class="blueTable">
                <thead >
                <tr>
                    <th>Requesting User</th>
                    <th>User's Branch</th>
                    <th>Request Date</th>
                    <th>Checked-Out By</th>
                    <th>Return Date</th>
                    <th>Checked-In By</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var request in Model)
                {
                    <tr>
                        <td>@request.RequesterUser.Name</td>
                        <td>@request.RequesterBranch.Branch</td>
                        <td>@request.RegAcceptedDate</td>
                        <td>@request.RegistryUserAccept.Name</td>
                        <td>@request.ReturnDate</td>
                        <td>@request.ReturnAcceptBy.Name</td>
                    </tr>
                }
                </tbody>
            </table>

        }
        else
        {
            <h4 style="color: red"><i>This volume has no activity log...</i></h4>
        }
    </div>
</div>

