@using System.Web.UI.WebControls
@model FileTracking.Models.File
@{
    ViewBag.Title = "FileForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>File Form</h2>
<div class="row">
    @using (Html.BeginForm("NewFile", "Files"))
    {
        <div class="form-group">
            @Html.LabelFor(f => f.FirstName, new { @class = "control-label" })

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>@Html.TextBoxFor(f => f.FirstName, new { @class = "form-control", @placeholder = "E.g. John" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(f => f.MiddleName, new { @class = "control-label" })

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>@Html.TextBoxFor(f => f.MiddleName, new { @class = "form-control", @placeholder = "E.g. Micheal" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(f => f.LastName, new { @class = "control-label" })

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>@Html.TextBoxFor(f => f.LastName, new { @class = "form-control", @placeholder = "E.g. Smith" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(f => f.Street, new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-home"></i>
                </span> @Html.TextBoxFor(f => f.Street, new { @class = "form-control", @placeholder = "E.g. 12 George Street" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(f => f.CityOrTown, new { @class = "control-label" })
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-home"></i>
                </span>
                @Html.TextBoxFor(f => f.CityOrTown, new { @class = "form-control", @placeholder = "E.g. Belmopan/Dangriga/Silk-Grass village" })
            </div>
        </div>
        @*
            <div class="form-group">
                @Html.LabelFor(f => f.District, new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon" style="max-width: 100%;"><i class="glyphicon glyphicon-list"></i></span>
                    @Html.DropDownListFor(f => f.District, new SelectList("Belize", "Select:"), new { @class = "form-control" })

                </div>
            </div>
        *@
        <div class="form-group">
            @Html.LabelFor(f => f.Comments, new { @class = "control-label" })

            <div class="input-group">
                <span class="input-group-addon">
                </span>@Html.TextAreaFor(f => f.Comments, new { @class = "form-control", @placeholder = "E.g. User is pending an a loan numbers" })
            </div>
        </div>

        <button class="btn btn-primary bottom-right">Save File</button>
    }

</div>
